.center{
    display:flex !important;
    justify-content: center !important;
    align-items: center !important;
}


.flex-j-center{
    justify-content: center !important;
}
.flex-j-spacear{justify-content: space-around !important;}
.flex-a-end{
    align-items: end !important;
}

.mg-t-32{margin-top:32px !important}
.mg-t-16{margin-top:16px !important}
.mg-t-8{margin-top:8px !important}

.c-pointer{cursor: pointer;}
.no-select{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none; 
}

/* 입력 박스 제작 */

.input-con {
    position: relative;
    width: 300px;

  }
    .reg-input {
    font-size: 15px;
    color: #222222;
    width: 100%;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    background: none;
    z-index: 5;
  }
  
  .reg-span {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0%;  /* right로만 바꿔주면 오 - 왼 */
    background-color: #666;
    width: 0;
    height: 2px;
    border-radius: 2px;
    width: 100%;
  }
